@import 'normalize';
* {
          box-sizing: border-box;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  &:after,
  &:before {
            box-sizing: border-box;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
}
/* clearfix */
.clearfix {
  &:before {
    display: table;
    content: '';
  }
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}
.clear {
  clear: both;
}
.clearfix {
  *zoom: 1;
}


/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */

.wrapper {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
  position: relative;
}

* {
   margin: 0;
   padding: 0;
   transition: all 1s;
}

html,
body {
   height: 100%;
}

a {
  color: #fff;
  
  &:hover {
    text-decoration: none;
  }
}

body {
  background-image: url(../img/bg_main2.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: #202020;
}
ul {
  padding: 0 0 0 30px;
  margin: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  line-height: 1;
  margin: 0 0 20px;
}
img {
  max-width: 100%;
  vertical-align: bottom;
  border: 0;
  max-width: 100%;
}
p {
  margin: 0 0 18px;
  text-align: left;
  line-height: 1.6;
}
.inner {
  width: 980px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
#main {
   min-height: 100%;
   width: 100%;
   margin: 0 auto;
   position: relative;
}

.header {
  height: 140px;
  background-color: #000;
/*   background-color: rgba(255, 255, 255, 0.3); */
  border-top: 5px solid #ee1c24;
  border-bottom: 5px solid #ee1c24;
  position: relative;
  font-size: 11px;
  .forcefullwidth_wrapper_tp_banner {
    position: absolute;
    top: -130px;
    z-index: 5;
    .tparrows {
      display: none;
    }
  }
  .logo {
    position: absolute;
    display: block;
    top: 20px;
    left: 50px;
    z-index: 10;
    width: 331px;
    height: 60px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .phone {
/*     position: absolute;
top: 10px;
right: 250px; */
    z-index: 10;
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 32px;
    font-weight: bold;
    span {
      color: #fff;
      font-size: 64px;
      position: relative;
      top: 14px;
    }
  }
  a.contacts {
    position: absolute;
    left: 741px;
    top: 42px;
    z-index: 10;
    color: #ee1c24;
    width: 70px;
    line-height: 1;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
  }
}
section {
  width: 980px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 25px 50px;
}
.looper {
  .feature-img {
    display: block;
    float: left;
    width: 30%;
    margin: 0 25px 25px 0;
    border: 5px solid #fff;
    img {
      width: 100%;
    }
    &:hover {
      border-color: red;
    }
  }
  h2 {
    a {
      text-decoration: none;
      padding: 0;
      border-bottom: 3px solid transparent;
      &:hover {
        border-bottom: 3px solid red;
      }  
    }
  }
  .view-article {
    display: none;
  }
}
.breadcrumbs {
  margin: 0 0 25px;
  a {
    font-weight: bold;
    color: red;
    text-decoration: none;
  }
}
.pagination {
  margin: 0 auto;
  text-align: center;
  padding: 25px;
  a, span {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 8px;
    font-weight: bold;
  }
  a {
    text-decoration: none;
    background-color: rgba(255,255,255,0.1);
  }
}
.footer {
  border-top: 5px solid #454545;
  height: 120px;
  .inner {
    padding: 15px 50px 0;
    color: #464646;
    font-size: 12px;
  }
  p {
    color: #fff;
  }
  .foot-block-1,
  .foot-block-2,
  .foot-block-3 {
    display: inline-block;
    float: left;
    p {
      margin: 0 0 5px;
    }
  }
  .foot-block-1 {
    width: 395px;
    padding: 0 20px 0 0;
    text-align: left;
  }
  .foot-block-2 {
    width: 190px;
    text-align: center;
  }
  .foot-block-3 {
    width: 295px;
    padding: 0 0 0 10px;
    text-align: right;

  }
}
.navi {
  width: 980px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 25px 50px;
  font-weight: bold;
  ul {
    display: block;
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      display: inline-block;
      margin: 0 15px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      a {
        text-decoration: none;
        color: #fff;
        font-size: 22px;
        text-transform: uppercase;
        padding: 3px 0;
        border-bottom: 3px solid red;
        &:hover {
          color: red;
        }
      }
    }
    .current_page_item,
    .current-post-parent {
      a {
        color: red;
      }
    }
  }
}
article {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 25px;
  line-height: 1.6;
  iframe,
  object {
    max-width: 100%;
    margin: 10px auto;
    display: block;
    text-align: center;
    border: 5px solid red;
  }
}
.single-products-page {
  .feature-img{
    width: 40%;
    display: block;
    border: 5px solid #fff;
    margin: 0 25px 50px 0;
    float: left;
    position: relative;
    &:hover {
      border-color: red;
    }
    .order-product {
      display: block;
      position: absolute;
      bottom: -60px;
      right: 110px;
      width: 120px;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      border-radius: 8px;
      background-color: red;
      font-size: 22px;
      font-weight: bold;
      letter-spacing: 3px;
      &:hover {
        color: darken(#fff, 15%);
        background-color: darken(red, 15%);
      }
    }
  }

}
.acf-map {
  width: 100%;
  height: 400px;
  border: #ccc solid 1px;
  margin: 20px 0;
}
.prod-list {
  display: block;
  padding: 0;
  margin: 0 0 25px;
  list-style-type: none;
  li {
    display: inline-block;
    overflow: hidden;
    float: left;
    width: 180px;
    height: 240px;
    margin: 0 13px 13px;
    position: relative;
    img {
      border-radius: 2px;
      position: absolute;
      top: 0;
      left: 0;
      width: 180px;
      height: 180px;
      z-index: 5;
      border: 5px solid #fff;
    }
    span {
      position: absolute;
      top: 180px;
      text-align: center;
    }
    &:hover {
      border-color: red;
      span {
        color: red;
      }
    }
  }
}
.prod-catalog {
  display: block;
  padding: 0;
  margin: 0 0 25px;
  list-style-type: none;
  li {
    display: inline-block;
    float: left;
    width: 250px;
    height: 280px;
    margin: 0 26px 26px;
    position: relative;
    z-index: 10;
    img {
      border-radius: 2px;
      position: absolute;
      top: 0;
      left: 0;
      width: 250px;
      height: 280px;
      z-index: 5;
      border: 5px solid #fff;
    }
    span {
      position: absolute;
      top: 180px;
      left: -20px;
      padding: 10px;
      background-color: rgba(255, 0, 0, 0.7);
      color: #fff;
      z-index: 15;
      text-align: center;
      &:hover {
        color: #fff !important;
      }
    }
    &:hover {
      border-color: red;
    }
  }
}
#content {
   padding: 52px 50px 150px;
}
#main_page a {
   width: 125px;
   height: 125px;
   display: block;
   position: absolute;
   background: url('../img/blank.gif');
   font-size: 0;
   *text-indent: -9999px;
   &.about {
      left: 49px;
      top: 16px;
   }
   &.works {
      left: 174px;
      top: 141px;
      left: 174px;
      top: 141px;
   }
   &.service {
      left: 49px;
      top: 266px;
   }
   &.price {
      left: 299px;
      top: 266px;
   }
   &.contacts {
      left: 174px;
      top: 391px;
   }
}
#main_page {
   background: url('../img/main_img.jpg') no-repeat top;
   /* FON */
   height: 530px;
   /* width:980px; */
   position: relative;
   padding-bottom: 101px;
}

img {
   &.slogan {
      position: absolute;
      right: 40px;
      bottom: 129px;
   }
   &.menu {
      position: absolute;
      left: 10px;
      top: 5px;
   }
}

ul.menu {
   list-style: none;
   margin: 0 0 80px 0;
   li {
      display: block;
      float: left;
      margin-right: 40px;
      border-bottom: 3px solid #ac191f;
      padding-bottom: 4px;
      height: 28px;
   }
   #current {
      background-position: 0 -38px;
   }
   a {
      display: block;
      width: 100%;
      height: 28px;
      font-size: 0;
      *text-indent: -9999px;
   }
   li {
      &.item3 {
         background: url('../img/m_about.gif') no-repeat;
         width: 98px;
      }
      &.item6 {
         background: url('../img/m_works.gif') no-repeat;
         width: 88px;
      }
      &.item2 {
         background: url('../img/m_service.gif') no-repeat;
         width: 62px;
      }
      &.item4 {
         background: url('../img/m_price.gif') no-repeat;
         width: 39px;
      }
      &.item5 {
         background: url('../img/m_contacts.gif') no-repeat;
         width: 78px;
      }
      &:hover {
         border-bottom: 0;
      }
   }
}

div.clear {
   clear: both;
   height: 0;
   text-indent: -1000px;
}

#portf_main {
   position: relative;
   margin-left: -33px;
   div {
      &.realization {
         position: absolute !important;
         right: -33px;
      }
      &.notlive {
         position: absolute !important;
         left: 313px;
      }
      &.realization span {
         height: 17px;
      }
      span {
         background: url('../img/bg_red.png');
         position: absolute;
         bottom: 20px;
         left: 23px;
         padding: 10px 0 10px 20px;
         width: 180px;
      }
      &:hover ul {
         display: block;
      }
      span ul {
         a {
            color: #fff;
         }
         margin-left: 29px;
         display: none;
         li {
            margin-top: 7px;
            font-size: 12px;
         }
      }
   }
}

* + html #portf_main div span ul li {
   margin-top: 3px;
}

#portf_main div {
   span ul a:hover {
      text-decoration: none;
   }
   width: 287px;
   height: 400px;
   display: block;
   float: left;
   background: url('../img/bg_light.png') no-repeat left top;
   padding-left: 33px;
   position: relative;
}

#portfolio_cat_list,
#portfolio_cat_list_inside,
#portfolio_cat_list_inside2 {
   list-style: none;
   margin: 0;
}

#portfolio_cat_list {
   div {
      span {
         position: absolute;
         bottom: 15px;
         left: 0;
         background: url('../img/bg_gray.png');
         color: #fff;
         font-size: 12px;
         padding: 5px 10px;
         a {
            color: #fff;
            text-decoration: none;
         }
      }
      &:hover span {
         background: url('../img/bg_red2.png');
         a {
            text-decoration: none;
         }
      }
   }
   li div.border {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 176px;
      height: 114px;
      background: url('../img/border.png');
   }
}

#portfolio_cat_list_realization {
   margin: 0;
   list-style: none;
}

#portfolio_cat_list_inside,
#portfolio_cat_list_inside2 {
   margin: 0;
   position: absolute;
   top: 0;
   left: 685px;
}

#portfolio_cat_list_inside li,
#portfolio_cat_list_inside2 li {
   position: relative;
   width: 80px;
   height: 60px;
   display: block;
   margin: 0 0 12px 15px;
   *margin: 0 0 9px 15px;
}

#portfolio_cat_list_realization li {
   width: 80px;
   height: 60px;
   position: relative;
   float: left;
   margin: 0 20px 20px 0;
}

#portfolio_cat_list_inside li img,
#portfolio_cat_list_inside2 li img,
#portfolio_cat_list_realization li img {
   width: 80px;
   height: 60px;
}

#portfolio_cat_list_inside li:first-child div.border,
#portfolio_cat_list_realization li:first-child div.border {
   display: block;
}

#portfolio_cat_list_inside li div.border,
#portfolio_cat_list_inside2 li div.border,
#portfolio_cat_list_realization li div.border {
   display: none;
   position: absolute;
   left: 0;
   top: 0;
   width: 80px;
   height: 60px;
   background: url('../img/border_small.png');
}

#portfolio_cat_list div:hover div.border,
#portfolio_cat_list_inside div:hover div.border,
#portfolio_cat_list_inside2 div:hover div.border,
#portfolio_cat_list_realization div:hover div.border,
#portfolio_cat_list_inside li:hover div.border,
#portfolio_cat_list_inside2 li:hover div.border,
#portfolio_cat_list_realization li:hover div.border {
   display: block !important;
   cursor: hand;
   cursor: pointer;
}

#PhocaGalleryobjectPicture {
   margin-right: 15px;
   display: block;
}

#phocagallery {
   position: relative;
   width: 100%;
   display: block;
   a {
      text-decoration: none;
   }
}

#breadcrumbs {
   margin-bottom: 40px;
   font-size: 26px;
   a {
      color: #ee1c24;
      font-size: 18px;
      text-decoration: none;
      position: relative;
      top: 3px;
      margin-right: 15px;
      float: left;
      background: url('../img/bg_bread.gif') bottom repeat-x;
   }
   i {
      position: absolute;
      right: -10px;
      bottom: -3px;
   }
}

div.realiz {
   position: relative;
   height: 435px;
   clear: both;
   img.palka {
      position: absolute;
      top: -13px;
      left: 50%;
      margin-left: -23px;
      width: 46px;
      height: 461px;
   }
   b {
      position: absolute;
      top: 40px;
      left: -10px;
      width: 226px;
      height: 34px;
      display: block;
      background: url('../img/txt_project.png');
   }
   i {
      position: absolute;
      bottom: 40px;
      right: -10px;
      width: 226px;
      height: 34px;
      display: block;
      background: url('../img/txt_realization.png');
   }
}

#portfolio_cat_list div {
   width: 176px;
   height: 114px;
   display: block;
   float: left;
   margin-bottom: 10px;
   position: relative;
}

#next {
   background: url('../img/arw_next.png');
   display: block;
   width: 176px;
   height: 114px;
   cursor: hand;
   cursor: pointer;
}

#prev {
   background: url('../img/arw_next.png');
   display: block;
   width: 176px;
   height: 114px;
   cursor: hand;
   cursor: pointer;
   background: url('../img/arw_prev.png') !important;
}

table.price {
   tr.tr_head td {
      background: url('../img/bg_tr_head.png');
      font-size: 18px !important;
   }
   td {
      &.td_head {
         background: url('../img/bg_tr_head.png');
         font-size: 18px !important;
         text-align: left;
      }
      padding: 15px;
      background: url('../img/bg_td_head.png');
      text-align: center;
      border: 1px solid #1b1b1b;
   }
   border-collapse: collapse;
   font-size: 12px;
}

.gallery-2010-menu {
   font-size: 15px;
   font-family: Arial;
   text-transform: uppercase;
   padding: 0 0 30px 0;
   a {
      display: block;
      float: left;
      padding: 10px;
      margin: 0;
      &:LINK,
      &:VISITED,
      &:ACTIVE {
         text-decoration: none;
         color: #f00;
      }
      &:HOVER {
         text-decoration: none;
         color: #fff;
         background-color: #f00;
      }
   }
}

a {
   &:LINK.gallery-2010-menu-selected,
   &:VISITED.gallery-2010-menu-selected,
   &:HOVER.gallery-2010-menu-selected,
   &:ACTIVE.gallery-2010-menu-selected {
      text-decoration: none;
      color: #fff;
      background-color: #f00;
   }
}

/* ==============menu=============== */
/* CSS Document */

ul#cssmenu {
   width: 650px;
   margin: 0;
   border: 0 none;
   padding: 0;
   list-style: none;
   height: 30px;
   font: bold 12px/28px Verdana, Arial;
   border-left: #036 1px solid;
   li {
      margin: 0;
      border: 0 none;
      padding: 0;
      float: left;
      display: inline;
      list-style: none;
      position: relative;
      height: 30px;
      display: block;
      margin-right: 40px;
      padding-bottom: 4px;
      /* border-bottom: 2px solid #FFFFFF; */
   }
   ul {
      margin: 0;
      border: 0 none;
      padding: 0;
      width: 160px;
      list-style: none;
      display: none;
      position: absolute;
      top: 30px;
      left: 0;
      &:after {
         clear: both;
         display: block;
         font: 1px/0 serif;
         content: '.';
         height: 0;
         visibility: hidden;
      }
      li {
         width: 200px;
         float: left;
         display: block !important;
         display: inline;
      }
   }
   a {
      border: 0;
      padding: 0 10px;
      float: none !important;
      float: left;
      display: block;
      color: #fff;
      font: bold 12px/28px Verdana, Arial;
      text-decoration: none;
      height: auto !important;
      height: 1%;
      &:hover {
         color: #036;
         border-top: #ac191f 0 solid;
      }
   }
   li {
      &:hover a,
      &.iehover a {
         color: #036;
         border-top: #ac191f 0 solid;
      }
      &:hover li a,
      &.iehover li a {
         border: 2px solid #fff;
         float: none;
         color: #fff;
         background: url('../img/bg_tr_head.png');
      }
      &:hover li {
         a:hover,
         &:hover a {
            border: 2px solid #fff;
            color: red;
            background: url('../img/bg_tr_head.png');
         }
      }
      &.iehover li {
         a:hover,
         &.iehover a {
            border: 2px solid #fff;
            color: red;
            background: url('../img/bg_tr_head.png');
         }
      }
   }
   ul ul {
      display: none;
      position: absolute;
      top: 0;
      left: 100px;
   }
   li {
      &:hover ul ul,
      &.iehover ul ul {
         display: none;
      }
      &:hover ul {
         display: block;
      }
   }
   ul li:hover ul,
   li.iehover ul,
   ul li.iehover ul {
      display: block;
   }
}







::selection,
::-webkit-selection,
::-moz-selection {
  background: #04a4cc;
  color: #fff;
  text-shadow: none;
}
/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/
.alignnone {
  margin: 5px;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto;
}
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
  img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
  }
  .wp-caption-text {
    font-size: 80%;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
  }
}
.gallery-caption {
  font-size: 80%;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/*------------------------------------*\
    PRINT
\*------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a {
    text-decoration: underline;
    &:visited {
      text-decoration: underline;
    }
    &[href]:after {
      content: ' (' attr(href) ')';
    }
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
  .ir a:after {
    content: '';
  }
  a {
    &[href^='javascript:']:after,
    &[href^='#']:after {
      content: '';
    }
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr {
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }
  @page {
    margin: .5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
