* {
	margin: 0;
	padding: 0;
}

html, body{
	height:100%;
}

a{
	color:#fff;
}

a:hover{
	text-decoration:none;
}

body{
	font-family: tahoma, arial, verdana;
	font-size:14px;
	color:#ffffff;
	background:#202020;
}

html>/**/body {
	overflow-y:scroll
}

ul{
	margin-left:30px;
}

img{
	border:0;
}

p{
	margin-bottom:20px;
	text-align: left;
}

#main{
	background:url('../images/bg_main2.jpg') top left repeat-y #1d1d1d;
	min-height:100%;
	width:980px;
	margin:0 auto;
	position:relative;
}

#header{
	height:129px;
	background:url('../images/bg_header.jpg') left;
	border-top:5px solid #ee1c24;
	position:relative;
	font-size:11px;
	margin-bottom:8px;
}

#header img.logo{
	position:absolute;
	top:20px;
	left:50px;
}

#header img.tel{
	position:absolute;
	top:45px;
	left:500px;
}

#header a.contacts{
	position:absolute;
	left:741px;
	top:42px;
	color:#ee1c24;
	width:70px;
	line-height:14px;
}

#header div{
	width:100%;
	height:50px;
	background:url('../images/light.png') no-repeat center;
	display:block;
	position:absolute;
	bottom:-8px;
}

#main_page{
	background:url('../images/main_img.jpg') no-repeat top; /* FON */
	height:530px;
/*	width:980px; */
	position:relative;
	padding-bottom:101px;
}

img.slogan{
	position:absolute;
	right:40px;
	bottom:129px;
}

img.menu{
	position:absolute;
	left:10px;
	top:5px;
}

#main_page a{
	width:125px;
	height:125px;
	display:block;
	position:absolute;
	background:url('../images/blank.gif');
	font-size:0px;
	*text-indent:-9999px;
}

#main_page a.about{
	left:49px;
	top:16px;
}

#main_page a.works{
	left:174px;
	top:141px;
}

#main_page a.works{
	left:174px;
	top:141px;
}

#main_page a.service{
	left:49px;
	top:266px;
}

#main_page a.price{
	left:299px;
	top:266px;
}

#main_page a.contacts{
	left:174px;
	top:391px;
}

#footer{
    background:url('../images/bg_footer.png') top repeat-x;
    padding:36px 50px 0px;
    color:#464646;
    font-size:11px;
    line-height:18px;
    position:absolute;
    bottom:0;
    width:880px;
    height:80px;
}

#footer div{
	position:relative;
}

#footer img{
	position:absolute;
	top:23px;
	left:50%;
	margin-left:-80px;
	opacity: 0.3;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}


#footer a{
	color:#fff;
}

#footer b, #footer i{
	position:absolute;
	top:0px;
	font-weight:normal;
	font-style:normal;
}

#footer b{
	left:50%;
}

#footer i{
	right:0px;
}

#footer strong{
	position:absolute;
	right:0px;
	font-weight:normal;
	top:18px;
}

#footer strong a{
    color:#464646;
	text-decoration:none;
}

#footer strong a:hover{
	text-decoration:underline;
}

#content{
	padding:52px 50px 150px;
}

ul.menu{
	list-style:none;
	margin:0 0 80px 0;
}

ul.menu li{
	display:block;
	float:left;
	margin-right:40px;
	border-bottom:3px solid #ac191f;
	padding-bottom:4px;
	height:28px;
}

ul.menu #current{
	background-position:0px -38px;
}

ul.menu a{
	display:block;
	width:100%;
	height:28px;
	font-size:0px;
	*text-indent:-9999px;
}

ul.menu li.item3{
	background:url('../images/m_about.gif') no-repeat;
	width:98px;
}

ul.menu li.item6{
	background:url('../images/m_works.gif') no-repeat;
	width:88px;
}

ul.menu li.item2{
	background:url('../images/m_service.gif') no-repeat;
	width:62px;
}

ul.menu li.item4{
	background:url('../images/m_price.gif') no-repeat;
	width:39px;
}

ul.menu li.item5{
	background:url('../images/m_contacts.gif') no-repeat;
	width:78px;
}

ul.menu li:hover{
	border-bottom:0px;
}

div.clear{
	clear:both;
	height:0px;
	text-indent:-1000px;
}

#portf_main{
	position:relative;
	margin-left:-33px;
}

#portf_main div.realization{
	position:absolute !important;
	right:-33px;
}

#portf_main div.notlive{
	position:absolute !important;
	left:313px;
}

#portf_main div.realization span{
	height:17px;
}

#portf_main div span{
	background:url('../images/bg_red.png');
	position:absolute;
	bottom:20px;
	left:23px;
	padding:10px 0 10px 20px;
	width:180px;
}

#portf_main div:hover ul{
	display:block;
}

#portf_main div span ul a{
	color:#fff;
}

#portf_main div span ul{
	margin-left:29px;
	display:none;
}

#portf_main div span ul li{
	margin-top:7px;
	font-size:12px;
}

*+html #portf_main div span ul li{
	margin-top:3px;
}

#portf_main div span ul a:hover{
	text-decoration:none;
}

#portf_main div{
	width:287px;
	height:400px;
	display:block;
	float:left;
    background:url('../images/bg_light.png') no-repeat left top;
    padding-left:33px;
    position:relative;
}

#portfolio_cat_list, #portfolio_cat_list_inside, #portfolio_cat_list_inside2{
	list-style:none;
	margin:0;
}

#portfolio_cat_list div span{
	position:absolute;
	bottom:15px;
	left:0px;
	background:url('../images/bg_gray.png');
	color:#fff;
	font-size:12px;
	padding:5px 10px;
}

#portfolio_cat_list div span a{
	color:#fff;
	text-decoration:none;
}

#portfolio_cat_list div:hover span{
	background:url('../images/bg_red2.png');
}

#portfolio_cat_list div:hover span a{
	text-decoration:none;
}

#portfolio_cat_list li div.border{
	display:none;
	position:absolute;
	left:0;
	top:0;
	width:176px;
	height:114px;
	background:url('../images/border.png');
}

#portfolio_cat_list_realization{
	margin:0;
	list-style:none;
}

#portfolio_cat_list_inside, #portfolio_cat_list_inside2{
	margin:0;
	position:absolute;
	top:0;
	left:685px;
}

#portfolio_cat_list_inside li, #portfolio_cat_list_inside2 li{
	position:relative;
	width:80px;
	height:60px;
	display:block;
	margin:0 0 12px 15px;
	*margin: 0 0 9px 15px;
}

#portfolio_cat_list_realization li{
	width:80px;
	height:60px;
	position:relative;
	float:left;
	margin:0 20px 20px 0;
}

#portfolio_cat_list_inside li img,
#portfolio_cat_list_inside2 li img,
#portfolio_cat_list_realization li img{
	width:80px;
	height:60px;
}

#portfolio_cat_list_inside li:first-child div.border, #portfolio_cat_list_realization li:first-child div.border{
	display:block;
}

#portfolio_cat_list_inside li div.border,
#portfolio_cat_list_inside2 li div.border,
#portfolio_cat_list_realization li div.border{
	display:none;
	position:absolute;
	left:0;
	top:0;
	width:80px;
	height:60px;
	background:url('../images/border_small.png');
}

#portfolio_cat_list div:hover div.border,
#portfolio_cat_list_inside div:hover div.border,
#portfolio_cat_list_inside2 div:hover div.border,
#portfolio_cat_list_realization div:hover div.border,
#portfolio_cat_list_inside li:hover div.border,
#portfolio_cat_list_inside2 li:hover div.border,
#portfolio_cat_list_realization li:hover div.border{
	display:block !important;
	cursor:hand;
	cursor:pointer;
}



#PhocaGalleryobjectPicture{
	margin-right:15px;
	display:block;
}

#phocagallery{
	position:relative;
	width:100%;
	display:block;
}

#phocagallery a{
	text-decoration:none;
}

#breadcrumbs{
	margin-bottom:40px;
	font-size:26px;
}

#breadcrumbs a{
	color:#ee1c24;
	font-size:18px;
	text-decoration:none;
	position:relative;
	top:3px;
	margin-right:15px;
	float:left;
	background:url('../images/bg_bread.gif') bottom repeat-x;
}

#breadcrumbs i{
	position:absolute;
	right:-10px;
	bottom:-3px;
}

div.realiz{
	position:relative;
	height:435px;
	clear:both;
}

div.realiz img.palka{
	position:absolute;
	top:-13px;
	left:50%;
	margin-left:-23px;
	width:46px;
	height:461px;
}

div.realiz b{
	position:absolute;
	top:40px;
	left:-10px;
	width:226px;
	height:34px;
	display:block;
	background:url('../images/txt_project.png');
}

div.realiz i{
	position:absolute;
	bottom:40px;
	right:-10px;
	width:226px;
	height:34px;
	display:block;
	background:url('../images/txt_realization.png');
}


#portfolio_cat_list div{
	width:176px;
	height:114px;
	display:block;
	float:left;
	margin-bottom:10px;
	position:relative;
}

#next, #prev{
	background:url('../images/arw_next.png');
	display:block;
	width:176px;
	height:114px;
    cursor:hand;
    cursor:pointer;
}

#prev{
	background:url('../images/arw_prev.png') !important;
}

table.price tr.tr_head td, table.price td.td_head{
	background:url('../images/bg_tr_head.png');
	font-size:18px !important;
}

table.price td.td_head{
	text-align:left;
}

table.price{
	border-collapse:collapse;
	font-size:12px;
}

table.price td{
    padding:15px;
    background:url('../images/bg_td_head.png');
    text-align:center;
    border:1px solid #1b1b1b;
}
.gallery-2010-menu {font-size: 15px; font-family: Arial; text-transform: uppercase; padding: 0 0 30px 0;}
.gallery-2010-menu A {display: block; float: left;  padding: 10px; margin: 0;}
.gallery-2010-menu A:LINK, .gallery-2010-menu A:VISITED, .gallery-2010-menu A:ACTIVE {
	text-decoration: none;
	color: #F00;
}
.gallery-2010-menu A:HOVER, A:LINK.gallery-2010-menu-selected, A:VISITED.gallery-2010-menu-selected, A:HOVER.gallery-2010-menu-selected, A:ACTIVE.gallery-2010-menu-selected {
	text-decoration: none;
	color: #FFF;
	background-color: #F00;
}
/* ==============menu=============== */
/* CSS Document */
ul#cssmenu {
	width: 650px;
	margin: 0;
	border: 0 none;
	padding: 0;
	list-style: none;
	height: 30px;
	font: bold 12px/28px Verdana, Arial;
	border-left:#003366 1px solid;
}

ul#cssmenu li {
        margin: 0;
        border: 0 none;
        padding: 0;
        float: left;
        display: inline;
        list-style: none;
        position: relative;
        height: 30px;
        display: block;
        margin-right: 40px;
        padding-bottom: 4px;
		/* border-bottom: 2px solid #FFFFFF; */
}

ul#cssmenu ul {
        margin: 0;
        border: 0 none;
        padding: 0;
        width: 160px;
        list-style: none;
        display: none;
        position: absolute;
        top: 30px;
        left: 0;
}

ul#cssmenu ul:after {
        clear: both;
        display: block;
        font: 1px/0px serif;
        content: ".";
        height: 0;
        visibility: hidden;
}

ul#cssmenu ul li {
        width: 200px;
        float: left;
        display: block !important;
        display: inline;
}

/* Main Menu */
ul#cssmenu a {
	border: 0px;
	padding: 0 10px;
	float: none !important;
	float: left;
	display: block;
	color: #FFFFFF;
	font: bold 12px/28px Verdana, Arial;
	text-decoration: none;
	height: auto !important;
	height: 1%;
}

/* Main Menu Hover */
ul#cssmenu a:hover,
ul#cssmenu li:hover a,
ul#cssmenu li.iehover a {
        color:#003366;
        border-top: #AC191F 0px solid;
}

/* Second Menu */
ul#cssmenu li:hover li a,
ul#cssmenu li.iehover li a {
        border: 2px solid #FFFFFF;
        float: none;
        color: #FFFFFF;
		background:url('../images/bg_tr_head.png');
}

/* Second Menu Hover */
ul#cssmenu li:hover li a:hover,
ul#cssmenu li:hover li:hover a,
ul#cssmenu li.iehover li a:hover,
ul#cssmenu li.iehover li.iehover a {
        border: 2px solid #FFFFFF;
        color: red;
		background:url('../images/bg_tr_head.png');
}

ul#cssmenu ul ul {
        display: none;
        position: absolute;
        top: 0;
        left: 100px;
}

ul#cssmenu li:hover ul ul,
ul#cssmenu li.iehover ul ul {
        display: none;
}

ul#cssmenu li:hover ul,
ul#cssmenu ul li:hover ul,
ul#cssmenu li.iehover ul,
ul#cssmenu ul li.iehover ul {
        display: block;
} 